@import url("node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("node_modules/font-awesome/css/font-awesome.min.css");

#app-place-name {
    background: #3f3f3f;
    padding: .5rem 0 .5rem 1rem;
}

#app-place-name h5 {
    margin-bottom: 0;
    color: #FFF;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#add-project {
    margin-right: 1rem;
    font-size: 1.5rem;
    color:  #FFF;

    cursor: pointer;
    transition: .25s;
}
