@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/font-awesome/css/font-awesome.min.css");

/* *** TOP BAR *** */
.app-place-name {
    background: #3f3f3f;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.app-place-name h5 {
    margin-bottom: 0;
    color: #FFF;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: .5rem 0 .5rem 0;
}

.action-button {
    margin-right: 1rem;
    padding: .5rem 0 .5rem 0;
    font-size: 1.5rem;
    color:  #FFF;

    cursor: pointer;
    transition: .25s;
}

.action-button:hover {
    color: #d3d3d3;
}

.app-breadcrumb small {
    font-weight: 100;
    color: #d3d3d3;
    text-transform: uppercase;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/* *** BUTTONS *** */
.btn-primary {
    background: #e88c30;
    border: none;
}

.btn-primary:hover {
    background: #ba742e;
}

/* *** LIST DESIGN *** */
.list-element-name {
    margin-bottom: 0;
    margin: 0 .5rem;
    padding: .5rem 0;

    border-bottom: 1px solid #efefef;

    cursor: pointer;
    transition: .5s;
}

.list-element-name:last-child {
    border-bottom: 0;
}

.list-element-name:hover {
    background: #efefef;
}
